@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.start-btn,
.video-btn,
h1,
p,
a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
} 

.start-btn{
    font-size: 16px;
    color: #FFFFFF;
    width: 140px;
    height: 51px;
    border: none;
    background-color: #fff;
    background-image:url('./img/Start_btn.png');
    background-size: cover;
}

.video-btn {
    font-size: 16px;
    color: #AAAAAA;
    width: 140px;
    height: 51px;
    border: none;
    background-color: #fff;
    background-image: none;
    background-size: cover;
}

h1,
p,
a {
    color: black;
}

.home-color{
    color: #f25822;
}

.container {
    max-width: 1174px;
    margin: 0 auto;
}


header {
    padding: 40px;
}
.main{
    padding: 44px 0;
}

.navigation-links a{
    font-size: 14px;
    margin-right: 14px;
}

.logos {
    padding: 100px 0;
}

.logos a {
    padding: 0 48px;
}

.mainContent__leftSide-btnList{
    margin-top: 32px;
}

.mainContent__leftSide h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

p {
    font-size: 20px;
}


